<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Hms.Svc.SvcHms" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Hms.Itf.ItfHms" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
