<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Common.Svc.SvcCommon" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Common.Itf.ItfCommon" />
      </service>
      <service name="Common.Svc.SvcEntityFactory" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Common.Itf.ItfEntityFactory" />
      </service>
      <service name="Common.Svc.SvcFormDesign" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Common.Itf.ItfFormDesign" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
