<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Console.Svc.SvcUpdate" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Console.Itf.ItfUpdate" />
      </service>
      <service name="Console.Svc.SvcFrame" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Console.Itf.ItfFrame" />
      </service>
      <service name="Console.Svc.SvcLogin" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Console.Itf.ItfLogin" />
      </service>
      <service name="Console.Svc.SvcDictionary" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Console.Itf.ItfDictionary" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
